.page {
  height: 100vh;
}

.header {
  position: sticky !important;
  position: -webkit-sticky;
  top: 0;
  background-color: rgb(161, 229, 171);
  text-align: left;
  height: 7%;
  align-items: center;

  &__label {
    text-align: left;
  }
}

.main {
  height: 93%;
  &__sidenav {
    position: sticky !important;
    position: -webkit-sticky;
    left: 0;
    top: 1;
    padding: 0;
  }
  &__content {
    // overflow: scroll;
    padding: 1.5%
  }
}
