<div class="container-fluid page">
  <!-- HEADER CONTAINER-->
  <div class="row header shadow-sm">
    <h3 class="header__label">VILLA REMEDIOS EAST</h3>
  </div>
  <!-- BODY CONTAINER -->
  <div class="row main">
    <!-- SIDENAV CONTAINER -->
    <div class="main__sidenav col-2 shadow-sm">
      <app-sidenav></app-sidenav>
    </div>
    <!-- DYNAMIC CONTENT AREA -->
    <div class="col main__content">
      <!-- All component views are managed by router-outlet -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
