.page {
  height: 100%;
  width: 100%;
}

.header {
  position: sticky !important;
  position: -webkit-sticky;
  top: 0px;
  background-color: rgb(161, 229, 171);
  text-align: left;
  height: 7%;
  align-items: center;

  &__label {
    text-align: left;
  }
}

.main {
  height: 93%;
  width: 100%;
  // overflow: auto; // NO
  // overflow: hidden; // NO
  &__sidenav {
    height: 100%;
    padding: 0;
    position: sticky !important;
    position: -webkit-sticky;
    top: 1000px;
  }
  &__content {
    height: 100%;
    // overflow: scroll;
    padding: 1.5%
  }
}
