.sidenav {
  background-color: rgb(161, 229, 171);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__content{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__links {
  
      &--active {
        background-color: blue;
      }
    }
  } 

  &__footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logout-button {
      width: 100%;
    }
  }
}

.group1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav-buttons-container {
  height: 90%;
  width: 100%;
}

.links {
  font-size: 1.2em !important;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: large;
}